iframe#_gh_iframe {
  position: fixed !important;
  bottom: 0 !important;
  left: 0 !important;
  width: 100% !important;
  border: 0 !important;
  height: 250px !important;
  z-index: 999999999;
}

iframe#_gh_iframe.top {
  bottom:auto;
  top: 0;
}

div#_gh_loader {
  position: fixed !important;
  top: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  right: 0 !important;
  background-color: rgba(100,100,100,.5);
  text-align: center;
  z-index: 999999999;
}

div#_gh_loader p {
  position: absolute;
  top: 50%;
  margin-top: -50px;
  height: 100px;
  line-height: 100px;
  font-size: 50px;
}